*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.animationDiv {
  --color: rgba(0, 0, 225, 0.589);
  position: absolute;
  top: 100px;
  height: 550px;
  width: 550px;
  border-radius: 800px;
  background-color: var(--color);
  box-shadow: rgba(0, 123, 255, 0.3) 0px 0px 30px 90px;
  margin-top: 60px;
  z-index: -1;
  background: radial-gradient(
    circle,
    rgba(0, 123, 255, 1) 0%,
    rgba(0, 123, 255, 0) 100%
  );
  transition: all 3s;
}

.animationDiv.bigger {
  height: 650px;
  width: 650px;
  box-shadow: rgba(0, 123, 255, 0.3) 0px 0px 30px 140px;
  transition: all 3s;
}

.animationDiv.focus {
  box-shadow: none;
  transition: all 3s;
  height: 650px;
  width: 650px;
  top: 50px;
}

.noData{
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 0px 3px;
  position: absolute;
  top: 33px;
  left: 20px;
  display: none;
}

.container.unfocus {
  --blurValue: 10px;
  -webkit-filter: blur(var(--blurValue));
  -moz-filter: blur(var(--blurValue));
  -o-filter: blur(var(--blurValue));
  -ms-filter: blur(var(--blurValue));
  filter: blur(var(--blurValue));
  transition: 3s;
}
.container {
  min-width: 700px;
  width: 700px;
  padding-top: 10px;
  background-color: transparent;
  transition: all 3s;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.inputWrapper {
  margin-top: 10px;
  min-width: 700px;
  width: 700px;
  position: relative;
}
input {
  border-radius: 20px;
  padding-left: 10px;
  margin-left: 20px;
  justify-self: left;
}

.locationName {
  padding-left: 20px;
  font-size: 28px;
}
.wrapperCondition {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  img {
  }
}
.condition {
  font-size: 38px;
  padding-left: 22px;
  margin-top: -14px;
}

.currentParametars {
  display: grid;
  /* width: 70%; */
  grid-template-columns: 3fr 1fr 1fr;

  .small {
    font-size: 14px;
    color: rgb(56, 56, 56);
  }
  .bigger {
    font-size: 36px;
    font-weight: bold;
    margin-top: -10px;
  }
  .temperatureSegment {
    --size: 230px;
    display: flex;
    justify-content: center;
    grid-row: span 2;
    font-size: var(--size);
    font-weight: bold;
    margin-top: calc(var(--size) / (-2.5));
    margin-bottom: calc(var(--size) / (-2.5));
    margin-left: 30px;
    /* letter-spacing: -10px; */
    .currentTemp {
      letter-spacing: -6px;
    }
    .deegreSymbol {
      font-size: calc(var(--size) / (1.8));
      margin-top: calc(var(--size) / (2.5));
      margin-bottom: calc(var(--size) / (2.5));
      line-height: 90px;
      margin-left: -10px;
    }
  }
  .uvindexPhoto {
    margin-left: -10px;
    margin-top: -4px;
    --dimension: 70px;
    width: var(--dimension);
    height: var(--dimension);
    p {
      color: white;
      font-size: calc(var(--dimension) / 2.7);
    }
  }
}

.uvindexPhoto {
  --dimension: 34px;
  display: grid;
  width: var(--dimension);
  height: var(--dimension);
  align-items: center;
  img {
    grid-row: 1;
    grid-column: 1;
  }
  p {
    grid-row: 1;
    grid-column: 1;
    font-size: calc(var(--dimension) / 2.3);
    text-align: center;
    font-weight: bold;
  }
}

svg {
  fill: none;
}

h3 {
  padding-left: 20px;
  margin-top: 10px;
}

.icon {
  width: 34px;
  height: 34px;
}

.hourly {
  display: flex;
  padding: 4px 20px;
  gap: 10px;
  overflow-x: scroll;
  .hourSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    p {
      text-align: center;
      font-size: 14px;
    }

    .temp {
      font-weight: bold;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 150px;
      width: 40px;
      background-color: rgb(22, 74, 185);
    }
    .coloredTemp {
      height: 30%;
      background-color: white;
      border: 1px solid black;
    }
    .uvindexPhoto {
      margin-top: 5px;
    }
    .icon {
      margin-top: 15px;
      display: flex;
      align-content: center;
      justify-content: center;
    }
    p.time {
      margin-bottom: -3px;
    }
  }
}

.daily {
  display: flex;
  padding: 0px 20px;
  gap: 10px;
  .day {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    border: 1px solid black;
    border-radius: 200px;
    padding: 10px 0px;

    p.maxtemp,
    p.dayOfWeek {
      font-weight: bold;
    }

    p.maxtemp,
    p.mintemp {
      font-size: 20px;
    }
    p.mintemp {
      margin-top: -5px;
    }
    .uvindexPhoto {
      --dimension: 40px;
      width: var(--dimension);
      height: var(--dimension);
      p {
        font-size: calc(var(--dimension) / 2.7);
      }
      margin-top: 2px;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 50px;
      width: 50px;
      margin-top: 10px;
    }
    p.precipercent,
    p.date {
      font-size: 12px;
    }
    p.precipercent {
      margin-top: 10px;
    }
    p.dayOfWeek {
      margin-top: 2px;
    }
    p.date {
      margin-top: -4px;
    }
  }
  .day.selected {
    border: 4px solid purple;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .day:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
